{% extends '::base.html.twig' %}

{% block body %}


    {#---------------------------------------------------------------------------------------------------------#}
    <div class="row">
        <div class="col s12">  <h2 class="header">La filière “Sports Mécaniques & Mobilité Durable”</h2></div>
        <hr>
        <div class="col s6"><h4>Près de 100 entreprises dans la filière sur le territoire Alès Cévennes
            Face aux mutations économiques qu’a connu le bassin alésien, territoire
            fragilisé par le déclin de l’industrie minière à la fin des années 70, la fin des
            années 90 a marqué un tournant dans son évolution. Trois facteurs illustrent
            aujourd’hui la dynamique de redressement dans laquelle s’est engagé le
            territoire d’Alès Agglomération sous l’impulsion des acteurs publics et forces
            vives locales : une attractivité démographique retrouvée, une économie
            dynamique en mutation et un cadre de vie attractif.</h4>
            <div class="row"> <img id="pole1" src="{{ asset('../../../images/Pole-Mecanique-vueaerienne.jpg')}}"></div>
           </div>
        <div class="col s6"><h4>Tissé avec les premières filatures de vers à soie puis forgé avec les
            premières technologies minières, l’esprit industriel pionnier du bassin
            alésien se renouvelle aujourd’hui grâce au développement de filières
            stratégiques telles que la mécanique sportive et durable, les
            éco-activités, la filière agroalimentaire et bois, la filière tourisme et les
            biotechnologies., attestant d’une forte culture d’adaptation au
            changement, d’ouverture et d’accueil.
            En investissant dès 1995 dans la création du Pôle Mécanique Alès
            Cévennes, importante infrastructure de 90 hectares et de 8000 m2 de
            bâtiments industriels, l’agglomération a fait le choix d’un marqueur
            identitaire fort, celui des savoir-faire dans les sports mécaniques.
            Six circuits, dont un de vitesse réversible (unique en Europe) doté d’une
            ligne d’accélération de 600 m, se prêtent à des essais industriels de
            roulage, des activités de loisirs et des compétitions sportives de haut
            niveau.
            Avec près de 100 entreprises dans la filière dont une trentaine
            implantée au Pôle Mécanique (et plus de 600 en intégrant les
            concessionnaires, garages et clubs), ces activités génèrent
            quelques 1100 emplois.
            Cet écosystème d’entreprises, doté de compétences complémentaires
            à forte valeur ajoutée, est animé par l’Agence de développement Alès
            Myriapolis qui a d’ailleurs initié, fin 2016, une démarche collective afin
            de fédérer ces acteurs et accroitre leur compétitivité.</h4>
        </div>
    </div>


    {#---------------------------------------------------------------------------------------------------------#}

    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">accueil</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>
{#---------------------------------------------------------------------------------------------------------#}
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('../../../images/Pole-Mecanique-vueaerienne-vueweb-1030x773.jpg') }}"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <img id="dStructure" src="{{ asset('../../../images/demarche-structuration-01.png') }}">

    </div>

    {% block javascripts %}
        <script> $(document).ready(function(){
                $('.carousel.carousel-slider').carousel({fullWidth: true})});
            $('.carousel').carousel({
                padding: 200
            });
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
            $(document).ready(function(){
                $('.parallax').parallax();
            });

            $(document).ready(function(){
                $('.slider').slider();
            });

        </script>




    {% endblock %}
{% endblock %}
