/*ADVERT------------------------------------------------------*!*/
body {
    background: #333;
    font-family: sans-serif;
    font-size: 12px;
}
a, .reply, h1 {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.reply {
    font-size: 11px;
    float: right;
    display: block;
}
.comments-list {
    background: #f7f7f7;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
}
.comment {
    background: #fefefe;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
}
#reply-comment {
    display: none;
}