/*!*HEADER*!------------------------------------*/


.nav-extended{
    position:absolute;
    height:100px!important;
}

ul>li>a:hover{
    color:#84bd00;
}

ul>li>a{
    color:black;
}
.button-collapse{
    color:black!important;
}

/*FOOTER-------------------------------*/
.page-footer
{
    margin-top:25%;
    background-color: #006ba6!important;
    color:white;
}

.chip{
    background-color: #84bd00!important;
}

.chip:hover{
    background-color: black!important;

}


/*PreLoader----------------------------------------*/
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



#pole1{
    float: left;
    max-width:98%;

}
.header{
    color:#006ba6;
}
h4{
 justify-items: auto;
}